#root {
  height: 100%;
}

.ui.container {
  height: 100%;
  width: 100%;
}

.logo-image {
  margin-left: 45px;
  margin-top: 15px;
}

.ui.grid {
  height: 100%;
}

.colored-button {
  background: #219653 !important;
  margin-left: 750px !important;
  margin-top: 15px !important;
}

.register-button {
  background: #219653 !important;
}

.button-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
}

.span-text {
  color: #ffffff;
}

.ui.segment {
  background: none;
  box-shadow: none;
  border: none;
}

body {
  background-color: #e5e5e5;
}

.logout-button {
  background: #ffffff !important;
  margin-top: 475px !important;
  margin-left: 35px !important;
}

.side-bar {
  height: 120%;
  background-color: #ffffff;
}
